h1 {
   margin: 16px;
   text-align: center;
}

h2 {
   font-size: large ;
}

body{
   color: rgba(81, 62, 62, 1);
   background-color: rgba(225, 172, 172, 0.97);
   display: flex;
   justify-content: center;
   text-align: center;
}

header {
   display: flex;
   justify-content: space-evenly;   
}

.header-div {
   border: pink 5px solid;
   margin: 8px;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   text-align: center;
   color: rgb(0, 0, 0);
   font-size: 3.5dvh;
}

.S1 {
   font-size: xx-large;
   color: rgb(255, 225, 230);
}
.dramatic {
   font-size: x-large;
}

.pink_diamond {
   color:rgb(255, 157, 173)
}

.blue_diamond {
   color:blue
}

.yellow_diamond {
   color: yellow;
}

.white_diamond {
   color: rgb(35, 34, 34);
}

th {
   border: 5px pink solid;
}

td{
   border: 5px pink solid;
}
